/*=======base style=======*/

* {
  box-sizing: border-box;
}

body {
  background-color: #3ab5b0;
  background-image: linear-gradient(60deg, #3d3393 0%, #2b76b9 37%, #2cacd1 65%, #35eb93 100%);
  background-repeat: no-repeat;
  color: white;
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
}

.wrapper {
  width: 75%;
  margin: auto;
}

a {
  text-decoration: none;
}
/*============nav bar style=============*/

.logo {
  font-size: 3em;
  margin-left: 25px;
  color: white;

}

.top-bar::after {
  content: '';
  display: block;
  background: #494949;
  height: 5px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.second-bar {
  width: 100%;
  border-radius: 10px;
}

.main-nav a {
  float: left;
  width: 25%;
  background: #343434;
}

.main-nav>a:first-child {
  border-bottom-left-radius: 3px
}

.main-nav>a:last-child {
  border-bottom-right-radius: 3px
}

nav a {
  color: inherit;
  display: inline-block;
  padding: 17px 25px;
  text-align: center;
}

a.home:hover,
a.home:active {
  background: #4d4d4d;
}

a.about:hover,
a.about:before {
  background: #4d4d4d;

}

a.portfolio:hover,
a.portfolio:before {
  background: #4d4d4d;
}

a.blog:hover,
a.blog:before {
  background: #4d4d4d;
}

a.contact:hover,
a.contact:before {
  background: #4d4d4d;
}
/*======site content style======*/

.content-wrapper {
  background: white;
  width: 100%;
  display: inline-block;
  height: 1000px;
  border-radius: 3px;
}

.content {
  width: 90%;
  padding: 15px;
  color: #343434;
  background: white;
  height: auto;
  margin: 35px auto 15px;
  border-radius: 3px;
}

.articleName {
  font-size: 2em;
  margin: 0 0 15px;
}

.articleName a {
  color: #343434;
}

.articleName a:hover {
  color: #1822a5;
}

.author {
  font-size: 1.3em;
  color: grey;
}

.author a {
  color: grey;
}

.author a:hover {
  color: black;
}
/*First child not working, but this does? Check later */

.content>p:nth-child(2) {
  text-indent: 2em;
}
